@use "sass:math";
@import url("./fonts/stylesheet.css");

@function rem($screen) {
    @return math.div(100vw, $screen) * 10;
}
:root {
    --palette-1: #c8d4fb;
    --palette-2: #162661;
    --palette-3: #fff3e8;
    --palette-4: #fa2d1a;
    --palette-5: #fff;
    --font-1: "PT Root UI";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
}
img {
    width: 100%;
}
html {
    scroll-behavior: smooth;
}
html,
body {
    font-size: 10px;
    @media (min-width: 1280px) {
        font-size: rem(1920);
    }
}
.container {
    width: 100%;
    max-width: 184.5rem;
    margin: 0 auto;
    padding: 0 30px;
    @media (max-width: 576px) {
        padding: 0 15px;
    }
}

a {
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
}
.swiper {
    &-pagination {
        bottom: -50px !important;
        @media (max-width: 576px) {
            bottom: -10px !important;
        }
        &-bullet {
            width: 18px !important;
            height: 18px !important;
            background: var(--palette-1) !important;
            opacity: 1 !important;
            @media (max-width: 576px) {
                width: 10px !important;
                height: 10px !important;
            }
            &-active {
                transform: scale(1.4);
            }
        }
    }
    &-button {
        display: flex;
        justify-content: center;
        gap: 2.4rem;
        &-prev {
            @media (max-width: 1280px) {
                left: 0 !important;
                transform: translateX(-50%);
            }
        }
        &-next {
            @media (max-width: 1280px) {
                right: 0;
                transform: translateX(50%);
            }
        }
        &-next,
        &-prev {
            position: static !important;
            width: 54px !important;
            height: 54px !important;
            background: var(--palette-1);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.1rem;
            @media (max-width: 1280px) {
                position: absolute !important;
            }
            @media (max-width: 576px) {
                width: 25px !important;
                height: 25px !important;
                padding: 5px;
            }
            svg {
                path {
                    fill: var(--palette-2) !important;
                }
            }
        }
    }
}
.button {
    border: none;
    cursor: pointer;
    position: relative;
    background: var(--palette-2);
    padding: 1.3rem 2.7rem 1.6rem 4rem;
    border-radius: 4rem;
    overflow: hidden;
    &::after,
    &::before {
        content: "";
        position: absolute;
        inset: -0.1rem;
        transform: translateX(-100%);
        border-radius: 4rem;
    }
    &::before {
        background: var(--palette-1);
        z-index: 1;
        transition: transform 0.7s ease;
        transition-delay: 0.1s;
    }
    &::after {
        background: var(--palette-4);
        z-index: 2;
        transition: transform 0.7s ease;
        transition-delay: 0;
    }
    @media (hover: hover) {
        &:hover {
            &::before {
                transform: translateX(0%);
                transition-delay: 0s;
            }
            &::after {
                transform: translateX(0%);
                transition-delay: 0.1s;
            }
        }
    }
    &__wrap {
        position: relative;
        z-index: 9;

        display: flex;
        align-items: center;
        gap: 2.7rem;
        color: var(--palette-3);

        font-size: 2.4rem;
        font-weight: 700;
        @media (max-width: 576px) {
            font-size: 18px;
        }
    }
    span {
        display: inline-block;
        max-width: 25.5rem;
        color: var(--palette-3);
    }
    img {
        display: inline-block;
        width: 2.7rem;
    }
}
.link__to {
    display: flex;
    align-items: center;
    padding: 0.9rem 0.9rem 0.9rem 2.3rem;
    border-radius: 14.6rem;
    gap: 0.7rem;
    background: var(--palette-2);
    color: var(--palette-3);
    font-size: 2.1rem;
    width: max-content;
    div {
        height: 5rem;
    }
    img {
        display: inline-block;
        width: 5rem;
    }
}
.header {
    position: fixed;
    width: 100%;
    top: 4rem;
    display: flex;
    justify-content: center;
    z-index: 49;
    &__mob {
        display: none;
    }
    @media (max-width: 1280px) {
        &__mob {
            display: block;
        }
        top: 0;
        .logo {
            width: 8.3rem;
        }
    }
    &__link {
        font-size: 1.8rem;
        color: var(--palette-2);
        font-weight: 500;
        @media (max-width: 576px) {
            display: none;
        }
    }
    &__wrap {
        background: var(--palette-1);
        padding: 1.9rem 3.9rem;
        border-radius: 5rem;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        gap: 5.7rem;
        @media (max-width: 1280px) {
            width: 100%;
            border-radius: 0 0 2.5rem 2.5rem;
            padding: 0 3rem;
            height: 5rem;
            justify-content: space-between;
        }
    }
}
main {
    position: relative;
    z-index: 1;
    @media (max-width: 1280px) {
        z-index: 3;
    }
}
.nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    @media (max-width: 1280px) {
        opacity: 0;
        position: fixed;
        inset: 0;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(17px);
        visibility: hidden;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
        z-index: -1;
        &__list {
            position: absolute;
            top: 7.9rem;
            right: 3.4rem;
            bottom: 2.7rem;
            width: 100%;
            max-width: 34.4rem;
            background: var(--palette-5);
            z-index: 99;
            flex-direction: column;
            align-items: flex-end;
            padding: 4rem 2.7rem;
            border-radius: 2.5rem;
            transform: translateX(100%);
            transition:
                transform 0.3s ease,
                visibility 0.3s ease;
            @media (max-width: 576px) {
                top: 70px;
                right: 20px;
                left: 20px;
                max-width: 100%;
                width: auto;
                align-items: flex-start;
            }
        }
        &.active {
            visibility: visible;
            opacity: 1;
            .nav__list {
                transform: translateX(0%);
            }
        }
    }
    &__link {
        font-size: 1.8rem;
        color: var(--palette-2);
        font-weight: 500;
        cursor: pointer;
    }
    &__btn {
        position: relative;
        display: inline-block;
        background: none;
        border: none;
        height: 2.5rem;
        width: 2.5rem;

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            display: inline-block;
            background: var(--palette-2);
            border-radius: 2.5rem;
            width: 2.5rem;
            height: 3px;
            transition: transform 0.3s ease;
            transform-origin: right;

            &:nth-of-type(1) {
                transform: translateY(-7px);
            }
            &:nth-of-type(2) {
            }
            &:nth-of-type(3) {
                transform: translateY(7px);
            }
        }
        &.active {
            span {
                &:nth-of-type(1) {
                    transform: translateY(-9px) rotate(-45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translateY(9px) rotate(45deg);
                }
            }
        }
    }
}
.hero {
    height: 88.8rem;
    background: url("./img/hero-bg.jpg") top / cover;
    position: relative;
    overflow: hidden;

    @media (max-width: 1280px) {
        height: auto;
        min-height: 900px;
        padding-bottom: 65px;
    }
    @media (max-width: 576px) {
        min-height: 634px;
        padding-bottom: 30px;
        background: url("./img/hero-bg-mob.jpg") top / cover;
    }

    &::before {
        position: absolute;
        z-index: 9;
        content: "";
        width: 100%;
        left: 0;
        bottom: 0;
        height: 36.6rem;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        @media (max-width: 1280px) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--palette-2));
            height: 70%;
        }
        @media (max-width: 576px) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--palette-2) 70%);
            height: 70%;
        }
    }
    &__img {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(-2%, 3rem);
        height: 100%;

        @media (max-width: 1520px) {
            transform: translate(-10%, 3rem);
        }
        @media (max-width: 1280px) {
            transform: translate(-15%, 3rem);
        }
        @media (max-width: 576px) {
            transform: translate(-25%, 3rem);
        }
        img {
            height: 100%;
            width: auto;
            @media (max-width: 576px) {
                height: 80%;
            }
        }
    }
    &__wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        z-index: 49;
        @media (max-width: 1280px) {
            align-items: flex-start;
            justify-content: flex-end;
            height: 100%;
            min-height: 900px;
        }
        @media (max-width: 576px) {
            min-height: 634px;
        }
    }
    &__content {
        max-width: 71.3rem;
        @media (max-width: 1440px) {
            max-width: 60.3rem;
        }
        @media (max-width: 1280px) {
            max-width: 100%;
            .button {
                display: block;
                margin: 0 auto;
            }
        }
    }
    &__title {
        font-size: 6rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 106%;
        color: var(--palette-2);
        @media (max-width: 1280px) {
            font-size: 50px;
            color: var(--palette-3);
            max-width: 600px;
        }
        @media (max-width: 576px) {
            font-size: 34px;
            text-transform: capitalize;
        }
    }
    &__subtitle {
        font-size: 2.9rem;
        font-weight: 700;
        line-height: 102%;
        color: var(--palette-2);
        margin: 0.8rem 0 4.3rem;
        @media (max-width: 1280px) {
            margin: 11px 0 19px;
            color: var(--palette-3);
        }
        @media (max-width: 576px) {
            font-size: 18px;
        }
    }
    &__desc {
        font-size: 2.5rem;
        color: var(--palette-2);
        font-weight: 500;
        line-height: 1;
        max-width: 44rem;
        margin-bottom: 3rem;
        @media (max-width: 1280px) {
            color: var(--palette-3);
            max-width: 700px;
            margin-bottom: 64px;
        }
        @media (max-width: 576px) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}

.help {
    height: 300vh;
    position: relative;
    @media (max-width: 1280px) {
        display: none;
    }
    &__wrap {
        position: sticky;
        top: 14.5rem;
        background: var(--palette-2);
        border-radius: 5rem;
        padding: 7.4rem 5rem;
        overflow: hidden;
    }
    &__content {
        height: 100%;
        width: 100%;
        display: flex;
    }
    &__block {
        &:nth-of-type(1) {
            min-width: 70rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:nth-of-type(2) {
            min-width: 100.1rem;
            background: var(--palette-1);
        }
        &:nth-of-type(3) {
            min-width: 100.1rem;
            background: var(--palette-3);
        }
        &:nth-of-type(4) {
            min-width: 100.1rem;
            background: var(--palette-1);
        }
        &:nth-of-type(n + 2) {
            border-radius: 3.2rem;
            padding: 5.5rem 7rem;
            margin-left: 2.7rem;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 6rem;
        max-width: 37.6rem;
        color: var(--palette-3);
    }
    &__img {
        display: inline-block;
        width: 38.6rem;
        img {
            width: 100%;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 6.3rem;
        p {
            font-size: 2.8rem;
            font-weight: 700;
            &:nth-of-type(1) {
                max-width: 33.4rem;
            }
            &:nth-of-type(2) {
                max-width: 41.6rem;
                text-align: right;
            }
        }
    }
}
.help-mob {
    display: none;
    @media (max-width: 1280px) {
        display: block;
        overflow: hidden;
        padding: 65px 30px 65px;
    }
    &__title {
        font-size: 5rem;
        color: #162661;
        font-weight: 700;
        text-align: center;
        margin-bottom: 28px;
        @media (max-width: 576px) {
            font-size: 34px;
            max-width: 350px;
            margin: 0 auto 41px;
        }
    }
    &__wrap {
        max-width: 570px;
        margin: 0 auto;
        @media (max-width: 576px) {
            max-width: 260px;
        }
    }
    &__swiper {
        overflow: visible !important;
        .swiper {
            &-slide {
                border-radius: 50px;
                overflow: hidden;
                position: relative;
                @media (max-width: 576px) {
                    min-height: 350px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 50%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--palette-2));
                }
            }
            &-pagination {
                bottom: -50px !important;
                &-bullet {
                    width: 18px;
                    height: 18px;
                    background: var(--palette-1);
                    opacity: 1;
                    &-active {
                        transform: scale(1.4);
                    }
                }
            }
        }
    }
    &__desc {
        position: absolute;
        z-index: 2;
        bottom: 36px;
        left: 32px;
        right: 60px;
        font-size: 30px;
        color: var(--palette-3);
        font-weight: 700;
        @media (max-width: 576px) {
            font-size: 14px;
        }
    }
}
.step {
    max-width: 150.4rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 1.5rem 8.8rem;
    position: relative;
    @media (max-width: 1280px) {
        &__practice {
            padding: 65px 30px 65px;
        }
    }
    &__line {
        position: absolute;
        z-index: -1;
        top: 3rem;
        transform: translateX(-51%);
        left: 50%;
        height: 158rem;
        max-width: 100vw;
        overflow: hidden;
        @media (max-width: 1280px) {
            display: none;
        }
        img {
            height: 100%;
            width: auto;
        }
    }
    &-wrap {
        display: flex;
        gap: 10.5rem;
        justify-content: center;
        margin-top: 2.3rem;
        padding-bottom: 12.4rem;
        @media (max-width: 1280px) {
            flex-direction: column;
            gap: 0;
            padding-bottom: 0;
        }
    }
    &__title {
        color: var(--palette-2);
        font-size: 6rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        padding-top: 6.6rem;

        &-mob {
            display: none;
        }
        span {
            &:last-of-type {
                margin-left: 22.8rem;
                @media (max-width: 1280px) {
                    margin-left: 0;
                }
            }
        }
        @media (max-width: 1280px) {
            margin-top: 0;
            text-align: center;
            display: none;
            &-mob {
                display: block;
                color: var(--palette-2);
                font-size: 6rem;
                font-weight: 700;
                text-align: center;
                max-width: 650px;
                margin: 0 auto;
            }
        }
        @media (max-width: 576px) {
            &-mob {
                font-size: 34px;
            }
        }
    }
    &__col {
        &:nth-of-type(2) {
            margin-top: 8.2rem;

            @media (max-width: 1280px) {
                margin-top: 0;
                .step__row:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }
    &__row {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: max-content 0fr;
        width: 47.4rem;
        padding: 1.1rem 0;
        transition: 0.3s ease;
        &:not(:last-of-type) {
            border-bottom: 2px solid var(--palette-2);
        }
        @media (max-width: 1280px) {
            width: 100%;
            border-bottom: 2px solid var(--palette-2);
        }
        &.active {
            grid-template-rows: max-content 1fr;
            svg {
                transform: rotate(90deg);
            }
        }
        &-wrap {
            overflow: hidden;
            p {
                font-size: 1.8rem;
                color: var(--palette-2);
            }
        }
        span {
            display: inline-block;
            font-size: 2.5rem;
            font-weight: 500;
            color: var(--palette-2);
            @media (max-width: 1280px) {
                font-size: 20px;
            }
            @media (max-width: 576px) {
                font-size: 16px;
            }
        }
        svg {
            width: 3.6rem;
            transition: 0.3s ease;
            @media (max-width: 1280px) {
                width: 25px;
            }
        }
    }
    &-study {
        display: flex;
        flex-direction: column;
        position: relative;

        &__title {
            font-size: 6rem;
            color: var(--palette-2);
            font-weight: 700;
            padding-top: 6.7rem;
            @media (max-width: 1280px) {
                text-align: center;
            }
            @media (max-width: 576px) {
                font-size: 34px;
            }
        }
        &__desc {
            font-size: 3.6rem;
            font-weight: 500;
            color: var(--palette-2);
            @media (max-width: 1280px) {
                text-align: center;
            }
            @media (max-width: 576px) {
                font-size: 18px;
            }
        }
        &__tags {
            display: flex;
            flex-direction: column;
            gap: 2.1rem;
            margin-top: 2.6rem;
            @media (max-width: 1280px) {
                flex-direction: row;
                margin: 20px 0 40px;
                gap: 10px;
            }
            &-item {
                font-size: 2rem;
                font-weight: 500;
                color: var(--palette-2);
                padding: 1.2rem 2.5rem;
                background: var(--palette-1);
                border-radius: 2.4rem;
                width: max-content;
                @media (max-width: 1280px) {
                    padding: 5px 15px;
                }
                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
        }
        &__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 44.5rem 21rem 44.5rem;
            grid-template-areas:
                "a1 a2"
                "b1 b2"
                "c1 c2";
            max-width: 116.6rem;
            margin: -23rem auto 0;
            column-gap: 27.6rem;
            @media (max-width: 1280px) {
                margin-top: 0;
                grid-template-areas: unset;
                max-width: 100%;
                gap: 2rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            &-item {
                width: 44.5rem;
                height: 44.5rem;
                border-radius: 5rem;
                overflow: hidden;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
                position: relative;
                @media (max-width: 1280px) {
                    width: auto;
                    height: auto;
                    grid-area: auto !important;
                    transform: rotate(0) !important;
                }
                @media (max-width: 576px) {
                    max-width: 250px;
                }
                &:nth-of-type(1) {
                    grid-area: a2;
                    transform: rotate(-5deg);
                    p {
                        background: var(--palette-1);
                        color: var(--palette-2);
                    }
                }
                &:nth-of-type(2) {
                    grid-area: b1;
                    align-self: center;
                    transform: rotate(10deg);
                    p {
                        background: var(--palette-2);
                        color: var(--palette-3);
                    }
                }
                &:nth-of-type(3) {
                    grid-area: c2;
                    transform: rotate(-3deg);
                    p {
                        background: var(--palette-4);
                        color: var(--palette-3);
                        font-size: 14px !important;
                    }
                }
                & > img {
                    width: 100%;
                    height: 100%;
                    transform: scale(1.05);
                }
                span {
                    position: absolute;
                    top: 3.1rem;
                    left: 2.4rem;
                    font-size: 5.6rem;
                    color: var(--palette-2);
                    font-weight: 700;
                    @media (max-width: 576px) {
                        display: none;
                    }
                }
                div {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 1.6rem;
                    width: 4.4rem;
                    img {
                        width: 100%;
                    }
                    @media (max-width: 576px) {
                        display: none;
                    }
                }
                p {
                    position: absolute;
                    bottom: 1rem;
                    padding: 1.8rem 3.7rem;
                    font-size: 2.5rem;
                    font-weight: 700;
                    text-align: center;
                    left: 2rem;
                    right: 2rem;
                    border-radius: 3.8rem;
                    @media (max-width: 576px) {
                        font-size: 18px;
                        padding: 9px 12px;
                    }
                }
            }
        }
        &__wrap {
            display: flex;
            justify-content: center;
            gap: 35px;
        }
        &__progress {
            display: none;
            @media (max-width: 576px) {
                display: flex;
                position: relative;
                padding-left: 45px;
                &-num {
                    position: absolute;
                    font-size: 34px;
                    color: var(--palette-2);
                    font-weight: 700;
                    &:nth-of-type(1) {
                        top: 0;
                        left: 0;
                    }
                    &:nth-of-type(2) {
                        top: 35%;
                        left: 0;
                    }
                    &:nth-of-type(3) {
                        top: 70%;
                        left: 0;
                    }
                }
                &-line {
                    height: 100%;
                    width: 4px;
                    background: rgba(22, 38, 97, 0.5);
                    &-fill {
                        background: var(--palette-2);
                        width: 100%;
                        height: 0%;
                    }
                }
            }
        }
    }
}

.study {
    @media (max-width: 1280px) {
        display: none;
    }
    &__wrap {
        background: var(--palette-2);
        border-radius: 5rem;
        padding: 8.5rem 10.1rem 4.3rem 17rem;
    }
    &__title {
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        color: var(--palette-3);
        span {
            display: inline-block;
            background: var(--palette-3);
            color: var(--palette-2);
            padding: 1.6rem 2.8rem;
            border-radius: 6.6rem;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 9.1rem;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 7.4rem;
        &:nth-of-type(2),
        &:nth-of-type(4) {
            .study__col {
                &:nth-of-type(2) {
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: 5rem;
                        background: linear-gradient(to bottom, rgb(255, 255, 255, 0.2) 6%, var(--palette-5));
                    }
                    h4 {
                        color: var(--palette-2);
                        font-size: 3.6rem;
                        font-weight: 700;
                    }
                    p {
                        color: var(--palette-2);
                        &:last-of-type {
                            margin-top: 2.4rem;
                        }
                    }
                }
            }
        }
    }
    &__col {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &:nth-of-type(1) {
            h3 {
                font-size: 6rem;
                font-weight: 700;
                max-width: 49.4rem;
                color: var(--palette-3);
            }
            span {
                background: var(--palette-1);
                font-size: 2rem;
                font-weight: 500;
                padding: 1.2rem 2.5rem;
                border-radius: 24.5rem;
                width: max-content;
            }
        }
        &:nth-of-type(2) {
            background: url("./img/study-img1.jpg") no-repeat center / cover;
            padding: 5.4rem 9rem 5rem 6.7rem;
            border-radius: 5rem;
            position: relative;
            max-width: 88.8rem;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 5rem;
                background: linear-gradient(to bottom, rgb(22, 38, 97, 0.2) 6%, var(--palette-2));
            }
            h4 {
                color: var(--palette-3);
                font-size: 3.6rem;
                font-weight: 700;
            }
            p {
                font-size: 2rem;
                font-weight: 700;
                color: var(--palette-3);
                display: flex;
                align-items: center;
                gap: 0.9rem;
                &:nth-of-type(2) {
                    margin: 3.6rem 0;
                }
                img {
                    width: 4.8rem;
                }
            }
        }
        &-wrap {
            position: relative;
            z-index: 2;
        }
        &-card {
            padding: 2.7rem 2.5rem 2.2rem;
            border-top: 2.7rem solid var(--palette-2);
            border-radius: 2rem;
            background: var(--palette-1);
            max-width: 43.5rem;
            margin: 5.1rem auto 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            h5 {
                color: var(--palette-2);
                font-size: 2.8rem;
                margin-bottom: 5.6rem;
                font-weight: 700;
            }
            & > div {
                background: var(--palette-5);
                padding: 2.3rem 1.2rem 1.1rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 2rem;
                p {
                    font-size: 2.1rem;
                    color: var(--palette-2) !important;
                    font-weight: 700;
                    margin-bottom: 2.6rem;
                    span {
                        position: relative;
                        display: inline-block;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            width: 100%;
                            height: 0.2rem;
                            background: var(--palette-4);
                            transform: rotate(166deg);
                        }
                    }
                }
                a {
                    display: inline-block;
                    padding: 1.7rem 0;
                    text-align: center;
                    width: 100%;
                    border-radius: 1rem;
                    background: var(--palette-2);
                    color: var(--palette-5);
                    font-size: 1.9rem;
                    font-weight: 700;
                }
            }
        }
    }
    .link__to {
        margin: 0 auto;
    }
}
.study-mob {
    background: var(--palette-2);
    border-radius: 50px;
    padding: 65px 30px 21px;
    display: none;
    @media (max-width: 1280px) {
        display: block;
        padding: 28px 30px 28px;
    }
    &__title {
        font-size: 50px;
        color: var(--palette-3);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        span {
            color: var(--palette-2);
            background: var(--palette-3);
            padding: 7.5px 14px;
            border-radius: 37px;
            margin-right: 19px;
        }
        @media (max-width: 576px) {
            font-size: 34px;
        }
    }
    &__desc {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: var(--palette-3);
        margin-top: 24px;
    }
    &__grid {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }
    &__col {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        gap: 20px;
        &:last-of-type {
            grid-template-columns: 1fr;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 35px;
        }
        &:nth-of-type(1) {
            .study-mob__content {
                &-wrap {
                    h3 {
                        color: var(--palette-3);
                    }
                    p {
                        color: var(--palette-3);
                    }
                }
            }
        }
        &:nth-of-type(2) {
            .study-mob__content {
                &::before {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4), var(--palette-5));
                }
                &-wrap {
                    h3 {
                        color: var(--palette-2);
                    }
                    p {
                        color: var(--palette-2);
                    }
                    p:nth-of-type(2) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        &:nth-of-type(3) {
            .study-mob__content {
                border-radius: 50px !important;
                padding: 25px 35px 47px;
                &::before {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4), var(--palette-5));
                }
                &-wrap {
                    h3 {
                        color: var(--palette-2);
                    }
                    p {
                        color: var(--palette-2);
                    }
                }
            }
        }
    }
    &__content {
        position: relative;
        background: url("./img/study-img1.jpg") no-repeat center / cover;
        padding: 16px 23px;
        border-radius: 30px;
        width: 100%;
        overflow: hidden;
        @media (max-width: 768px) {
            margin-top: 40px;
            padding: 16px 12px 40px 23px;
        }
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0;
            background: linear-gradient(180deg, rgba(22, 38, 97, 0.2), var(--palette-2));
        }
        &-wrap {
            position: relative;
            z-index: 2;
            h3 {
                font-size: 3rem;
            }
            & > p {
                font-size: 20px;
                &:nth-of-type(1) {
                    margin: 20px 0;
                }
            }
        }

        &-due {
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 24px 0 21px;
            img {
                width: 58px;
            }
            p {
                font-size: 20px;
            }
        }
        &-list {
            display: flex;
            gap: 10px;
            span {
                background: var(--palette-1);
                color: var(--palette-2);
                font-size: 20px;
                padding: 3px 9px;
                border-radius: 15px;
            }
        }
    }
    &__card {
        background: var(--palette-1);
        padding: 23px 19px 17px;
        height: max-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-width: 320px;
        h3 {
            font-size: 23px;
            font-weight: 700;
            color: var(--palette-2);
            margin-bottom: 33px;
            @media (max-width: 768px) {
                text-align: center;
            }
        }
        &-price {
            background: var(--palette-5);
            border-radius: 10px;
            padding: 9px;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-size: 18px;
                color: var(--palette-2);
                font-weight: 700;
                margin-bottom: 20px;
                span {
                    display: inline-block;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        transform: rotate(-15deg) translateY(-50%);
                        top: 50%;
                        background: var(--palette-4);
                    }
                }
            }
            button {
                padding: 15px 0;
                width: 100%;
                border: none;
                outline: none;
                background: var(--palette-2);
                color: var(--palette-3);
                font-size: 10px;
                border-radius: 5px;
                font-weight: 700;
            }
        }
    }
    &__link {
        padding: 4px 6px 4px 37px;
        background: var(--palette-2);
        border-radius: 50px;
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: var(--palette-3);
        display: flex;
        align-items: center;
        gap: 12px;
        width: max-content;
        margin: 23px auto 0;
        @media (max-width: 576px) {
            font-size: 18px;
            width: 100%;
            text-align: center;
        }
        img {
            width: 62px;
        }
    }
}
.work {
    margin-top: 8.9rem;
    overflow: hidden;
    @media (max-width: 1280px) {
        margin-top: 0;
    }
    @media (max-width: 576px) {
        margin-top: 28px;
        &.container {
        }
    }
    &-mob {
        &__content {
            display: none;
            margin-top: 20px;
            @media (max-width: 1280px) {
                display: flex;
                gap: 36px;
                span {
                    display: inline-block;
                    font-size: 64px;
                    font-weight: 700;
                    font-style: italic;
                    color: var(--palette-2);
                    @media (max-width: 576px) {
                        font-size: 40px;
                    }
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: var(--palette-2);
                    @media (max-width: 576px) {
                        font-size: 10px;
                    }
                }
            }
            @media (max-width: 576px) {
                gap: 15px;
            }
        }
    }
    &__wrap {
        display: flex;
        justify-content: center;
        gap: 5.6rem;
        @media (max-width: 1280px) {
            flex-direction: column-reverse;
        }
    }
    &__img {
        width: 59.4rem;
        @media (max-width: 1280px) {
            width: 100%;
        }
        img {
            width: 100%;
            border-radius: 3.5rem;
        }
    }
    &__left {
        position: relative;
        @media (max-width: 1280px) {
            max-width: 570px;
            margin: 0 auto;
        }
    }
    &__right {
        max-width: 53.8rem;
        margin-top: 5.5rem;
        @media (max-width: 1280px) {
            max-width: 100%;
            margin-top: 0;
        }
    }
    &__text {
        position: absolute;
        bottom: 4.4rem;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1280px) {
            left: 34px;
            right: 34px;
            bottom: 0;
            padding: 14px 45px 24px;
            border-radius: 50px;
            background: rgba(22, 38, 97, 0.06);
            backdrop-filter: blur(4px) saturate(120%);
            -webkit-backdrop-filter: blur(4px) saturate(120%);
        }
        @media (max-width: 576px) {
            border-radius: 25px;
            padding: 14px 12px 10px 25px;
        }
        & > h2 {
            font-size: 3.6rem;
            color: var(--palette-2);
            font-weight: 700;
            @media (max-width: 1280px) {
                font-size: 34px;
            }
            @media (max-width: 576px) {
                font-size: 18px;
            }
        }
        & > p {
            font-size: 2.5rem;
            color: var(--palette-2);
            font-weight: 500;
            text-align: center;
            @media (max-width: 1280px) {
                font-size: 20px;
                font-weight: 400;
            }
            @media (max-width: 576px) {
                font-size: 16px;
            }
        }
    }
    &__title {
        font-size: 6rem;
        font-weight: 700;
        color: var(--palette-2);
        transform: translateX(-30%);
        @media (max-width: 1280px) {
            transform: translateX(0);
            text-align: center;
        }
        @media (max-width: 576px) {
            font-size: 34px;
            max-width: 342px;
            margin: 0 auto;
        }
    }
    &__content {
        display: flex;
        gap: 4.5rem;
        margin-top: 7.9rem;
        @media (max-width: 1280px) {
            display: none;
        }
        span {
            font-size: 8rem;
            font-weight: 700;
            font-style: italic;
            color: var(--palette-2);
        }
        p {
            font-size: 2rem;
            font-weight: 500;
            color: var(--palette-2);
        }
    }
    &__slider {
        display: none !important;
        @media (max-width: 576px) {
            display: block !important;
            margin-top: 40px;
            overflow: visible !important;
            max-width: 260px;
            .swiper-wrapper {
                padding-bottom: 30px;
            }
            .swiper-pagination {
                bottom: 10px !important;
            }
        }
    }
    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 9.8rem;
        margin-top: 8.9rem;
        @media (max-width: 1280px) {
            gap: 32px;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
        }
        @media (max-width: 576px) {
            display: none;
        }
    }
    &__item {
        position: relative;
        @media (max-width: 1280px) {
            max-width: 400px;
            &:nth-of-type(1) {
                justify-self: self-end;
            }
            &:nth-of-type(3) {
                justify-self: self-end;
            }
        }
        @media (max-width: 992px) {
            max-width: 266px;
        }
        @media (max-width: 576px) {
            max-width: 100%;
        }
        img {
            width: 100%;
        }
        h3 {
            position: absolute;
            left: 50%;
            bottom: 3.6rem;
            transform: translateX(-50%);
            font-size: 3.4rem;
            font-weight: 700;
            color: var(--palette-2);
        }
        p {
            color: var(--palette-2);
            font-size: 1.8rem;
            font-weight: 500;
            position: absolute;
            left: 50%;
            bottom: 1.6rem;
            transform: translateX(-50%);
            text-align: center;
            white-space: nowrap;
        }
    }
}

.feedback {
    margin-top: 7rem;
    overflow: hidden;
    @media (max-width: 1280px) {
        padding-bottom: 50px;
    }
    &__title {
        font-size: 5.6rem;
        font-weight: 700;
        color: var(--palette-2);
        text-align: center;
        @media (max-width: 576px) {
            font-size: 34px;
        }
    }
    &__wrap {
        @media (max-width: 1280px) {
            max-width: 700px;
            margin: 0 auto;
            position: relative;
            padding: 0 50px;
        }
        @media (max-width: 576px) {
            max-width: 250px;
            padding: 0;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        overflow: visible;
        &-wrapper {
            padding: 6rem 0;
        }
        &-pagination {
            display: none;
            @media (max-width: 1280px) {
                display: block;
                bottom: 15px !important;
            }
        }
        &-slide {
            padding: 3.8rem 6rem 3.8rem 7rem;
            border-radius: 3.5rem;
            box-shadow: 0 0 1.43rem 0.6rem rgba(0, 0, 0, 0.15);
            width: 70rem;
            @media (max-width: 1280px) {
                width: 100%;
            }
            @media (max-width: 576px) {
                padding: 40px 20px 40px;
            }
            h3 {
                font-size: 2rem;
                color: var(--palette-2);
                font-weight: 700;
                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
            span {
                font-size: 2rem;
                font-weight: 300;
                color: var(--palette-2);
                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
            p {
                margin-top: 0.6rem;
                font-weight: 500;
                font-size: 2rem;
                color: var(--palette-2);
                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.faq {
    max-width: 100rem;
    margin: 0 auto;
    padding: 6.9rem 1.5rem 8.7rem 1.5rem;
    @media (max-width: 1280px) {
        position: relative;
        z-index: 2;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        background: var(--palette-5);
    }
    &__title {
        font-size: 6rem;
        font-weight: 700;
        color: var(--palette-2);
        text-align: center;
        margin-bottom: 5.7rem;
        @media (max-width: 576px) {
            font-size: 34px;
            margin-bottom: 30px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        background: var(--palette-1);
        border-radius: 4rem;
        overflow: hidden;
        transition: all 0.35s ease;
        display: grid;
        grid-template-rows: max-content 0fr;
        &.active {
            grid-template-rows: max-content 1fr;
            .faq__icon {
                transform: rotate(90deg);
            }
        }
    }

    &__question {
        width: 100%;
        border: none;
        background: transparent;
        cursor: pointer;

        padding: 2.3rem 2.3rem 2.2rem 3.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        font-size: 2rem;
        font-weight: 500;
        color: var(--palette-2);
        text-align: left;
    }

    &__icon {
        width: 3.6rem;
        height: 3.6rem;
        min-width: 3.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--palette-2);
        border-radius: 50%;

        transition: 0.3s ease;

        svg {
            width: 3rem;
            height: 3rem;

            path {
                stroke: var(--palette-1);
                stroke-width: 2.5;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
        }
    }

    &__answer {
        overflow: hidden;
        transition: all 0.35s ease;

        p {
            max-width: 90%;
            font-size: 2rem;
            line-height: 1.8;
            color: var(--palette-2);
            padding: 0 3.5rem 2.5rem 3.5rem;
        }
    }
}

.footer {
    @media (max-width: 1280px) {
        margin-top: -50px;
        position: relative;
        z-index: 1;
        &.container {
            padding: 0;
        }
    }
    &__large {
        @media (max-width: 1280px) {
            display: none;
        }
    }
    &__wrap {
        background: var(--palette-2);
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 19.6rem 5rem;
        @media (max-width: 1280px) {
            padding: 88px 30px 5rem;
            border-radius: 0;
        }
    }
    &__logo {
        @media (max-width: 1280px) {
            width: 342px;
        }
        @media (max-width: 678px) {
            width: 160px;
        }
        img {
            width: 100%;
        }
    }
    &__content {
        max-width: 111rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: auto;
        gap: 20px;
        @media (max-width: 450px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__left,
    &__right {
        @media (max-width: 450px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__subtitle {
        font-size: 36px;
        font-weight: 700;
        color: var(--palette-5);
    }
    &__link {
        display: flex;
        gap: 0.6rem;
        align-items: center;
        font-size: 1.8rem;
        color: var(--palette-3);
        line-height: 1.7;
        &:hover {
            text-decoration: underline;
        }
        img {
            width: 2rem;
        }
    }
}
