@import url("./fonts/stylesheet.css");
:root {
  --palette-1: #c8d4fb;
  --palette-2: #162661;
  --palette-3: #fff3e8;
  --palette-4: #fa2d1a;
  --palette-5: #fff;
  --font-1: "PT Root UI";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-1);
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 10px;
}
@media (min-width: 1280px) {
  html,
  body {
    font-size: 0.5208333333vw;
  }
}

.container {
  width: 100%;
  max-width: 184.5rem;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  bottom: -50px !important;
}
@media (max-width: 576px) {
  .swiper-pagination {
    bottom: -10px !important;
  }
}
.swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
  background: var(--palette-1) !important;
  opacity: 1 !important;
}
@media (max-width: 576px) {
  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
}
.swiper-pagination-bullet-active {
  transform: scale(1.4);
}
.swiper-button {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}
@media (max-width: 1280px) {
  .swiper-button-prev {
    left: 0 !important;
    transform: translateX(-50%);
  }
}
@media (max-width: 1280px) {
  .swiper-button-next {
    right: 0;
    transform: translateX(50%);
  }
}
.swiper-button-next, .swiper-button-prev {
  position: static !important;
  width: 54px !important;
  height: 54px !important;
  background: var(--palette-1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1rem;
}
@media (max-width: 1280px) {
  .swiper-button-next, .swiper-button-prev {
    position: absolute !important;
  }
}
@media (max-width: 576px) {
  .swiper-button-next, .swiper-button-prev {
    width: 25px !important;
    height: 25px !important;
    padding: 5px;
  }
}
.swiper-button-next svg path, .swiper-button-prev svg path {
  fill: var(--palette-2) !important;
}

.button {
  border: none;
  cursor: pointer;
  position: relative;
  background: var(--palette-2);
  padding: 1.3rem 2.7rem 1.6rem 4rem;
  border-radius: 4rem;
  overflow: hidden;
}
.button::after, .button::before {
  content: "";
  position: absolute;
  inset: -0.1rem;
  transform: translateX(-100%);
  border-radius: 4rem;
}
.button::before {
  background: var(--palette-1);
  z-index: 1;
  transition: transform 0.7s ease;
  transition-delay: 0.1s;
}
.button::after {
  background: var(--palette-4);
  z-index: 2;
  transition: transform 0.7s ease;
  transition-delay: 0;
}
@media (hover: hover) {
  .button:hover::before {
    transform: translateX(0%);
    transition-delay: 0s;
  }
  .button:hover::after {
    transform: translateX(0%);
    transition-delay: 0.1s;
  }
}
.button__wrap {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  gap: 2.7rem;
  color: var(--palette-3);
  font-size: 2.4rem;
  font-weight: 700;
}
@media (max-width: 576px) {
  .button__wrap {
    font-size: 18px;
  }
}
.button span {
  display: inline-block;
  max-width: 25.5rem;
  color: var(--palette-3);
}
.button img {
  display: inline-block;
  width: 2.7rem;
}

.link__to {
  display: flex;
  align-items: center;
  padding: 0.9rem 0.9rem 0.9rem 2.3rem;
  border-radius: 14.6rem;
  gap: 0.7rem;
  background: var(--palette-2);
  color: var(--palette-3);
  font-size: 2.1rem;
  width: -moz-max-content;
  width: max-content;
}
.link__to div {
  height: 5rem;
}
.link__to img {
  display: inline-block;
  width: 5rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 4rem;
  display: flex;
  justify-content: center;
  z-index: 49;
}
.header__mob {
  display: none;
}
@media (max-width: 1280px) {
  .header__mob {
    display: block;
  }
  .header {
    top: 0;
  }
  .header .logo {
    width: 8.3rem;
  }
}
.header__link {
  font-size: 1.8rem;
  color: var(--palette-2);
  font-weight: 500;
}
@media (max-width: 576px) {
  .header__link {
    display: none;
  }
}
.header__wrap {
  background: var(--palette-1);
  padding: 1.9rem 3.9rem;
  border-radius: 5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 5.7rem;
}
@media (max-width: 1280px) {
  .header__wrap {
    width: 100%;
    border-radius: 0 0 2.5rem 2.5rem;
    padding: 0 3rem;
    height: 5rem;
    justify-content: space-between;
  }
}

main {
  position: relative;
  z-index: 1;
}
@media (max-width: 1280px) {
  main {
    z-index: 3;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 1280px) {
  .nav {
    opacity: 0;
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(17px);
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: -1;
  }
  .nav__list {
    position: absolute;
    top: 7.9rem;
    right: 3.4rem;
    bottom: 2.7rem;
    width: 100%;
    max-width: 34.4rem;
    background: var(--palette-5);
    z-index: 99;
    flex-direction: column;
    align-items: flex-end;
    padding: 4rem 2.7rem;
    border-radius: 2.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease, visibility 0.3s ease;
  }
}
@media (max-width: 1280px) and (max-width: 576px) {
  .nav__list {
    top: 70px;
    right: 20px;
    left: 20px;
    max-width: 100%;
    width: auto;
    align-items: flex-start;
  }
}
@media (max-width: 1280px) {
  .nav.active {
    visibility: visible;
    opacity: 1;
  }
  .nav.active .nav__list {
    transform: translateX(0%);
  }
}
.nav__link {
  font-size: 1.8rem;
  color: var(--palette-2);
  font-weight: 500;
  cursor: pointer;
}
.nav__btn {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
}
.nav__btn span {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  background: var(--palette-2);
  border-radius: 2.5rem;
  width: 2.5rem;
  height: 3px;
  transition: transform 0.3s ease;
  transform-origin: right;
}
.nav__btn span:nth-of-type(1) {
  transform: translateY(-7px);
}
.nav__btn span:nth-of-type(3) {
  transform: translateY(7px);
}
.nav__btn.active span:nth-of-type(1) {
  transform: translateY(-9px) rotate(-45deg);
}
.nav__btn.active span:nth-of-type(2) {
  opacity: 0;
}
.nav__btn.active span:nth-of-type(3) {
  transform: translateY(9px) rotate(45deg);
}

.hero {
  height: 88.8rem;
  background: url("./img/hero-bg.jpg") top/cover;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .hero {
    height: auto;
    min-height: 900px;
    padding-bottom: 65px;
  }
}
@media (max-width: 576px) {
  .hero {
    min-height: 634px;
    padding-bottom: 30px;
    background: url("./img/hero-bg-mob.jpg") top/cover;
  }
}
.hero::before {
  position: absolute;
  z-index: 9;
  content: "";
  width: 100%;
  left: 0;
  bottom: 0;
  height: 36.6rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
@media (max-width: 1280px) {
  .hero::before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--palette-2));
    height: 70%;
  }
}
@media (max-width: 576px) {
  .hero::before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--palette-2) 70%);
    height: 70%;
  }
}
.hero__img {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-2%, 3rem);
  height: 100%;
}
@media (max-width: 1520px) {
  .hero__img {
    transform: translate(-10%, 3rem);
  }
}
@media (max-width: 1280px) {
  .hero__img {
    transform: translate(-15%, 3rem);
  }
}
@media (max-width: 576px) {
  .hero__img {
    transform: translate(-25%, 3rem);
  }
}
.hero__img img {
  height: 100%;
  width: auto;
}
@media (max-width: 576px) {
  .hero__img img {
    height: 80%;
  }
}
.hero__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 49;
}
@media (max-width: 1280px) {
  .hero__wrap {
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
    min-height: 900px;
  }
}
@media (max-width: 576px) {
  .hero__wrap {
    min-height: 634px;
  }
}
.hero__content {
  max-width: 71.3rem;
}
@media (max-width: 1440px) {
  .hero__content {
    max-width: 60.3rem;
  }
}
@media (max-width: 1280px) {
  .hero__content {
    max-width: 100%;
  }
  .hero__content .button {
    display: block;
    margin: 0 auto;
  }
}
.hero__title {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 106%;
  color: var(--palette-2);
}
@media (max-width: 1280px) {
  .hero__title {
    font-size: 50px;
    color: var(--palette-3);
    max-width: 600px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 34px;
    text-transform: capitalize;
  }
}
.hero__subtitle {
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 102%;
  color: var(--palette-2);
  margin: 0.8rem 0 4.3rem;
}
@media (max-width: 1280px) {
  .hero__subtitle {
    margin: 11px 0 19px;
    color: var(--palette-3);
  }
}
@media (max-width: 576px) {
  .hero__subtitle {
    font-size: 18px;
  }
}
.hero__desc {
  font-size: 2.5rem;
  color: var(--palette-2);
  font-weight: 500;
  line-height: 1;
  max-width: 44rem;
  margin-bottom: 3rem;
}
@media (max-width: 1280px) {
  .hero__desc {
    color: var(--palette-3);
    max-width: 700px;
    margin-bottom: 64px;
  }
}
@media (max-width: 576px) {
  .hero__desc {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.help {
  height: 300vh;
  position: relative;
}
@media (max-width: 1280px) {
  .help {
    display: none;
  }
}
.help__wrap {
  position: sticky;
  top: 14.5rem;
  background: var(--palette-2);
  border-radius: 5rem;
  padding: 7.4rem 5rem;
  overflow: hidden;
}
.help__content {
  height: 100%;
  width: 100%;
  display: flex;
}
.help__block:nth-of-type(1) {
  min-width: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.help__block:nth-of-type(2) {
  min-width: 100.1rem;
  background: var(--palette-1);
}
.help__block:nth-of-type(3) {
  min-width: 100.1rem;
  background: var(--palette-3);
}
.help__block:nth-of-type(4) {
  min-width: 100.1rem;
  background: var(--palette-1);
}
.help__block:nth-of-type(n + 2) {
  border-radius: 3.2rem;
  padding: 5.5rem 7rem;
  margin-left: 2.7rem;
}
.help__title {
  font-weight: 700;
  font-size: 6rem;
  max-width: 37.6rem;
  color: var(--palette-3);
}
.help__img {
  display: inline-block;
  width: 38.6rem;
}
.help__img img {
  width: 100%;
}
.help__row {
  display: flex;
  justify-content: space-between;
  margin-top: 6.3rem;
}
.help__row p {
  font-size: 2.8rem;
  font-weight: 700;
}
.help__row p:nth-of-type(1) {
  max-width: 33.4rem;
}
.help__row p:nth-of-type(2) {
  max-width: 41.6rem;
  text-align: right;
}

.help-mob {
  display: none;
}
@media (max-width: 1280px) {
  .help-mob {
    display: block;
    overflow: hidden;
    padding: 65px 30px 65px;
  }
}
.help-mob__title {
  font-size: 5rem;
  color: #162661;
  font-weight: 700;
  text-align: center;
  margin-bottom: 28px;
}
@media (max-width: 576px) {
  .help-mob__title {
    font-size: 34px;
    max-width: 350px;
    margin: 0 auto 41px;
  }
}
.help-mob__wrap {
  max-width: 570px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .help-mob__wrap {
    max-width: 260px;
  }
}
.help-mob__swiper {
  overflow: visible !important;
}
.help-mob__swiper .swiper-slide {
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 576px) {
  .help-mob__swiper .swiper-slide {
    min-height: 350px;
  }
}
.help-mob__swiper .swiper-slide::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--palette-2));
}
.help-mob__swiper .swiper-pagination {
  bottom: -50px !important;
}
.help-mob__swiper .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: var(--palette-1);
  opacity: 1;
}
.help-mob__swiper .swiper-pagination-bullet-active {
  transform: scale(1.4);
}
.help-mob__desc {
  position: absolute;
  z-index: 2;
  bottom: 36px;
  left: 32px;
  right: 60px;
  font-size: 30px;
  color: var(--palette-3);
  font-weight: 700;
}
@media (max-width: 576px) {
  .help-mob__desc {
    font-size: 14px;
  }
}

.step {
  max-width: 150.4rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem 8.8rem;
  position: relative;
}
@media (max-width: 1280px) {
  .step__practice {
    padding: 65px 30px 65px;
  }
}
@media (max-width: 768px) {
  .step__practice {
    padding: 65px 0px 65px;
  }
}
.step__line {
  position: absolute;
  z-index: -1;
  top: 3rem;
  transform: translateX(-51%);
  left: 50%;
  height: 158rem;
  max-width: 100vw;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .step__line {
    display: none;
  }
}
.step__line img {
  height: 100%;
  width: auto;
}
.step-wrap {
  display: flex;
  gap: 10.5rem;
  justify-content: center;
  margin-top: 2.3rem;
  padding-bottom: 12.4rem;
}
@media (max-width: 1280px) {
  .step-wrap {
    flex-direction: column;
    gap: 0;
    padding-bottom: 0;
  }
}
.step__title {
  color: var(--palette-2);
  font-size: 6rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding-top: 6.6rem;
}
.step__title-mob {
  display: none;
}
.step__title span:last-of-type {
  margin-left: 22.8rem;
}
@media (max-width: 1280px) {
  .step__title span:last-of-type {
    margin-left: 0;
  }
}
@media (max-width: 1280px) {
  .step__title {
    margin-top: 0;
    text-align: center;
    display: none;
  }
  .step__title-mob {
    display: block;
    color: var(--palette-2);
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .step__title-mob {
    font-size: 34px;
  }
}
.step__col:nth-of-type(2) {
  margin-top: 8.2rem;
}
@media (max-width: 1280px) {
  .step__col:nth-of-type(2) {
    margin-top: 0;
  }
  .step__col:nth-of-type(2) .step__row:last-of-type {
    border-bottom: none;
  }
}
.step__row {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 0fr;
  width: 47.4rem;
  padding: 1.1rem 0;
  transition: 0.3s ease;
}
.step__row:not(:last-of-type) {
  border-bottom: 2px solid var(--palette-2);
}
@media (max-width: 1280px) {
  .step__row {
    width: 100%;
    border-bottom: 2px solid var(--palette-2);
  }
}
.step__row.active {
  grid-template-rows: max-content 1fr;
}
.step__row.active svg {
  transform: rotate(90deg);
}
.step__row-wrap {
  overflow: hidden;
}
.step__row-wrap p {
  font-size: 2rem;
  color: var(--palette-2);
}
@media (max-width: 576px) {
  .step__row-wrap p {
    font-size: 16px;
  }
}
.step__row span {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--palette-2);
}
@media (max-width: 1280px) {
  .step__row span {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .step__row span {
    font-size: 16px;
  }
}
.step__row svg {
  width: 3.6rem;
  transition: 0.3s ease;
}
@media (max-width: 1280px) {
  .step__row svg {
    width: 25px;
  }
}
.step-study {
  display: flex;
  flex-direction: column;
  position: relative;
}
.step-study__title {
  font-size: 6rem;
  color: var(--palette-2);
  font-weight: 700;
  padding-top: 6.7rem;
}
@media (max-width: 1280px) {
  .step-study__title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .step-study__title {
    font-size: 34px;
  }
}
.step-study__desc {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--palette-2);
}
@media (max-width: 1280px) {
  .step-study__desc {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .step-study__desc {
    font-size: 18px;
  }
}
.step-study__tags {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  margin-top: 2.6rem;
}
@media (max-width: 1280px) {
  .step-study__tags {
    flex-direction: row;
    margin: 20px 0 40px;
    gap: 10px;
  }
}
.step-study__tags-item {
  font-size: 2rem;
  font-weight: 500;
  color: var(--palette-2);
  padding: 1.2rem 2.5rem;
  background: var(--palette-1);
  border-radius: 2.4rem;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 1280px) {
  .step-study__tags-item {
    padding: 5px 15px;
  }
}
@media (max-width: 576px) {
  .step-study__tags-item {
    font-size: 14px;
  }
}
.step-study__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 44.5rem 21rem 44.5rem;
  grid-template-areas: "a1 a2" "b1 b2" "c1 c2";
  max-width: 116.6rem;
  margin: -23rem auto 0;
  -moz-column-gap: 27.6rem;
       column-gap: 27.6rem;
}
@media (max-width: 1280px) {
  .step-study__cards {
    margin-top: 0;
    grid-template-areas: unset;
    max-width: 100%;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.step-study__cards-item {
  width: 44.5rem;
  height: 44.5rem;
  border-radius: 5rem;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}
@media (max-width: 1280px) {
  .step-study__cards-item {
    width: auto;
    height: auto;
    grid-area: auto !important;
    transform: rotate(0) !important;
  }
}
@media (max-width: 576px) {
  .step-study__cards-item {
    max-width: 250px;
  }
}
.step-study__cards-item:nth-of-type(1) {
  grid-area: a2;
  transform: rotate(-5deg);
}
.step-study__cards-item:nth-of-type(1) p {
  background: var(--palette-1);
  color: var(--palette-2);
}
.step-study__cards-item:nth-of-type(2) {
  grid-area: b1;
  align-self: center;
  transform: rotate(10deg);
}
.step-study__cards-item:nth-of-type(2) p {
  background: var(--palette-2);
  color: var(--palette-3);
}
.step-study__cards-item:nth-of-type(3) {
  grid-area: c2;
  transform: rotate(-3deg);
}
.step-study__cards-item:nth-of-type(3) p {
  background: var(--palette-4);
  color: var(--palette-3);
  font-size: 14px !important;
}
.step-study__cards-item > img {
  width: 100%;
  height: 100%;
  transform: scale(1.05);
}
.step-study__cards-item span {
  position: absolute;
  top: 3.1rem;
  left: 2.4rem;
  font-size: 5.6rem;
  color: var(--palette-2);
  font-weight: 700;
}
@media (max-width: 576px) {
  .step-study__cards-item span {
    display: none;
  }
}
.step-study__cards-item div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.6rem;
  width: 4.4rem;
}
.step-study__cards-item div img {
  width: 100%;
}
@media (max-width: 576px) {
  .step-study__cards-item div {
    display: none;
  }
}
.step-study__cards-item p {
  position: absolute;
  bottom: 1rem;
  padding: 1.8rem 3.7rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  left: 2rem;
  right: 2rem;
  border-radius: 3.8rem;
}
@media (max-width: 576px) {
  .step-study__cards-item p {
    font-size: 18px;
    padding: 9px 12px;
  }
}
.step-study__wrap {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.step-study__progress {
  display: none;
}
@media (max-width: 576px) {
  .step-study__progress {
    display: flex;
    position: relative;
    padding-left: 45px;
  }
  .step-study__progress-num {
    position: absolute;
    font-size: 34px;
    color: var(--palette-2);
    font-weight: 700;
  }
  .step-study__progress-num:nth-of-type(1) {
    top: 0;
    left: 0;
  }
  .step-study__progress-num:nth-of-type(2) {
    top: 35%;
    left: 0;
  }
  .step-study__progress-num:nth-of-type(3) {
    top: 70%;
    left: 0;
  }
  .step-study__progress-line {
    height: 100%;
    width: 4px;
    background: rgba(22, 38, 97, 0.5);
  }
  .step-study__progress-line-fill {
    background: var(--palette-2);
    width: 100%;
    height: 0%;
  }
}

@media (max-width: 1280px) {
  .study {
    display: none;
  }
}
.study__wrap {
  background: var(--palette-2);
  border-radius: 5rem;
  padding: 8.5rem 10.1rem 4.3rem 17rem;
}
.study__title {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: var(--palette-3);
}
.study__title span {
  display: inline-block;
  background: var(--palette-3);
  color: var(--palette-2);
  padding: 1.6rem 2.8rem;
  border-radius: 6.6rem;
}
.study__list {
  display: flex;
  flex-direction: column;
  gap: 9.1rem;
}
.study__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7.4rem;
}
.study__row:nth-of-type(2) .study__col:nth-of-type(2)::before, .study__row:nth-of-type(4) .study__col:nth-of-type(2)::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 6%, var(--palette-5));
}
.study__row:nth-of-type(2) .study__col:nth-of-type(2) h4, .study__row:nth-of-type(4) .study__col:nth-of-type(2) h4 {
  color: var(--palette-2);
  font-size: 3.6rem;
  font-weight: 700;
}
.study__row:nth-of-type(2) .study__col:nth-of-type(2) p, .study__row:nth-of-type(4) .study__col:nth-of-type(2) p {
  color: var(--palette-2);
}
.study__row:nth-of-type(2) .study__col:nth-of-type(2) p:last-of-type, .study__row:nth-of-type(4) .study__col:nth-of-type(2) p:last-of-type {
  margin-top: 2.4rem;
}
.study__col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.study__col:nth-of-type(1) h3 {
  font-size: 6rem;
  font-weight: 700;
  max-width: 49.4rem;
  color: var(--palette-3);
}
.study__col:nth-of-type(1) span {
  background: var(--palette-1);
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem 2.5rem;
  border-radius: 24.5rem;
  width: -moz-max-content;
  width: max-content;
}
.study__col:nth-of-type(2) {
  background: url("./img/study-img1.jpg") no-repeat center/cover;
  padding: 5.4rem 9rem 5rem 6.7rem;
  border-radius: 5rem;
  position: relative;
  max-width: 88.8rem;
}
.study__col:nth-of-type(2)::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5rem;
  background: linear-gradient(to bottom, rgba(22, 38, 97, 0.2) 6%, var(--palette-2));
}
.study__col:nth-of-type(2) h4 {
  color: var(--palette-3);
  font-size: 3.6rem;
  font-weight: 700;
}
.study__col:nth-of-type(2) p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--palette-3);
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.study__col:nth-of-type(2) p:nth-of-type(2) {
  margin: 3.6rem 0;
}
.study__col:nth-of-type(2) p img {
  width: 4.8rem;
}
.study__col-wrap {
  position: relative;
  z-index: 2;
}
.study__col-card {
  padding: 2.7rem 2.5rem 2.2rem;
  border-top: 2.7rem solid var(--palette-2);
  border-radius: 2rem;
  background: var(--palette-1);
  max-width: 43.5rem;
  margin: 5.1rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.study__col-card h5 {
  color: var(--palette-2);
  font-size: 2.8rem;
  margin-bottom: 5.6rem;
  font-weight: 700;
}
.study__col-card > div {
  background: var(--palette-5);
  padding: 2.3rem 1.2rem 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
}
.study__col-card > div p {
  font-size: 2.1rem;
  color: var(--palette-2) !important;
  font-weight: 700;
  margin-bottom: 2.6rem;
}
.study__col-card > div p span {
  position: relative;
  display: inline-block;
}
.study__col-card > div p span::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0.2rem;
  background: var(--palette-4);
  transform: rotate(166deg);
}
.study__col-card > div a {
  display: inline-block;
  padding: 1.7rem 0;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  background: var(--palette-2);
  color: var(--palette-5);
  font-size: 1.9rem;
  font-weight: 700;
}
.study .link__to {
  margin: 0 auto;
}

.study-mob {
  background: var(--palette-2);
  border-radius: 50px;
  padding: 65px 30px 21px;
  display: none;
}
@media (max-width: 1280px) {
  .study-mob {
    display: block;
    padding: 28px 30px 28px;
  }
}
.study-mob__title {
  font-size: 50px;
  color: var(--palette-3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.study-mob__title span {
  color: var(--palette-2);
  background: var(--palette-3);
  padding: 7.5px 14px;
  border-radius: 37px;
  margin-right: 19px;
}
@media (max-width: 576px) {
  .study-mob__title {
    font-size: 34px;
  }
}
.study-mob__desc {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--palette-3);
  margin-top: 24px;
}
.study-mob__grid {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.study-mob__col {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 20px;
}
.study-mob__col:last-of-type {
  grid-template-columns: 1fr;
}
@media (max-width: 768px) {
  .study-mob__col {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
.study-mob__col:nth-of-type(1) .study-mob__content-wrap h3 {
  color: var(--palette-3);
}
.study-mob__col:nth-of-type(1) .study-mob__content-wrap p {
  color: var(--palette-3);
}
.study-mob__col:nth-of-type(2) .study-mob__content::before {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4), var(--palette-5));
}
.study-mob__col:nth-of-type(2) .study-mob__content-wrap h3 {
  color: var(--palette-2);
}
.study-mob__col:nth-of-type(2) .study-mob__content-wrap p {
  color: var(--palette-2);
}
.study-mob__col:nth-of-type(2) .study-mob__content-wrap p:nth-of-type(2) {
  margin-bottom: 20px;
}
.study-mob__col:nth-of-type(3) .study-mob__content {
  border-radius: 50px !important;
  padding: 25px 35px 47px;
}
.study-mob__col:nth-of-type(3) .study-mob__content::before {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4), var(--palette-5));
}
.study-mob__col:nth-of-type(3) .study-mob__content-wrap h3 {
  color: var(--palette-2);
}
.study-mob__col:nth-of-type(3) .study-mob__content-wrap p {
  color: var(--palette-2);
}
.study-mob__content {
  position: relative;
  background: url("./img/study-img1.jpg") no-repeat center/cover;
  padding: 16px 23px;
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .study-mob__content {
    margin-top: 40px;
    padding: 16px 12px 40px 23px;
  }
}
.study-mob__content::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background: linear-gradient(180deg, rgba(22, 38, 97, 0.2), var(--palette-2));
}
.study-mob__content-wrap {
  position: relative;
  z-index: 2;
}
.study-mob__content-wrap h3 {
  font-size: 3rem;
}
.study-mob__content-wrap > p {
  font-size: 20px;
}
.study-mob__content-wrap > p:nth-of-type(1) {
  margin: 20px 0;
}
.study-mob__content-due {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 24px 0 21px;
}
.study-mob__content-due img {
  width: 58px;
}
.study-mob__content-due p {
  font-size: 20px;
}
.study-mob__content-list {
  display: flex;
  gap: 10px;
}
.study-mob__content-list span {
  background: var(--palette-1);
  color: var(--palette-2);
  font-size: 20px;
  padding: 3px 9px;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .study-mob__content-list span {
    font-size: 14px;
  }
}
.study-mob__card {
  background: var(--palette-1);
  padding: 23px 19px 17px;
  height: -moz-max-content;
  height: max-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 320px;
}
.study-mob__card h3 {
  font-size: 23px;
  font-weight: 700;
  color: var(--palette-2);
  margin-bottom: 33px;
}
@media (max-width: 768px) {
  .study-mob__card h3 {
    text-align: center;
  }
}
.study-mob__card-price {
  background: var(--palette-5);
  border-radius: 10px;
  padding: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.study-mob__card-price p {
  font-size: 18px;
  color: var(--palette-2);
  font-weight: 700;
  margin-bottom: 20px;
}
.study-mob__card-price p span {
  display: inline-block;
  position: relative;
}
.study-mob__card-price p span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  transform: rotate(-15deg) translateY(-50%);
  top: 50%;
  background: var(--palette-4);
}
.study-mob__card-price button {
  padding: 15px 0;
  width: 100%;
  border: none;
  outline: none;
  background: var(--palette-2);
  color: var(--palette-3);
  font-size: 10px;
  border-radius: 5px;
  font-weight: 700;
}
.study-mob__link {
  padding: 4px 6px 4px 37px;
  background: var(--palette-2);
  border-radius: 50px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: var(--palette-3);
  display: flex;
  align-items: center;
  gap: 12px;
  width: -moz-max-content;
  width: max-content;
  margin: 23px auto 0;
}
@media (max-width: 576px) {
  .study-mob__link {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}
.study-mob__link img {
  width: 62px;
}

.work {
  margin-top: 8.9rem;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .work {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .work {
    margin-top: 28px;
  }
}
.work-mob__content {
  display: none;
  margin-top: 20px;
}
@media (max-width: 1280px) {
  .work-mob__content {
    display: flex;
    gap: 36px;
  }
  .work-mob__content span {
    display: inline-block;
    font-size: 64px;
    font-weight: 700;
    font-style: italic;
    color: var(--palette-2);
  }
}
@media (max-width: 1280px) and (max-width: 576px) {
  .work-mob__content span {
    font-size: 40px;
  }
}
@media (max-width: 1280px) {
  .work-mob__content p {
    font-size: 18px;
    font-weight: 400;
    color: var(--palette-2);
  }
}
@media (max-width: 1280px) and (max-width: 576px) {
  .work-mob__content p {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .work-mob__content {
    gap: 15px;
  }
}
.work__wrap {
  display: flex;
  justify-content: center;
  gap: 5.6rem;
}
@media (max-width: 1280px) {
  .work__wrap {
    flex-direction: column-reverse;
  }
}
.work__img {
  width: 59.4rem;
}
@media (max-width: 1280px) {
  .work__img {
    width: 100%;
  }
}
.work__img img {
  width: 100%;
  border-radius: 3.5rem;
}
.work__left {
  position: relative;
}
@media (max-width: 1280px) {
  .work__left {
    max-width: 570px;
    margin: 0 auto;
  }
}
.work__right {
  max-width: 53.8rem;
  margin-top: 5.5rem;
}
@media (max-width: 1280px) {
  .work__right {
    max-width: 100%;
    margin-top: 0;
  }
}
.work__text {
  position: absolute;
  bottom: 4.4rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1280px) {
  .work__text {
    left: 34px;
    right: 34px;
    bottom: 0;
    padding: 14px 45px 24px;
    border-radius: 50px;
    background: rgba(22, 38, 97, 0.06);
    backdrop-filter: blur(4px) saturate(120%);
    -webkit-backdrop-filter: blur(4px) saturate(120%);
  }
}
@media (max-width: 576px) {
  .work__text {
    border-radius: 25px;
    padding: 14px 12px 10px 25px;
  }
}
.work__text > h2 {
  font-size: 3.6rem;
  color: var(--palette-2);
  font-weight: 700;
}
@media (max-width: 1280px) {
  .work__text > h2 {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .work__text > h2 {
    font-size: 18px;
  }
}
.work__text > p {
  font-size: 2.5rem;
  color: var(--palette-2);
  font-weight: 500;
  text-align: center;
}
@media (max-width: 1280px) {
  .work__text > p {
    font-size: 20px;
    font-weight: 400;
  }
}
@media (max-width: 576px) {
  .work__text > p {
    font-size: 16px;
  }
}
.work__title {
  font-size: 6rem;
  font-weight: 700;
  color: var(--palette-2);
  transform: translateX(-30%);
}
@media (max-width: 1280px) {
  .work__title {
    transform: translateX(0);
    text-align: center;
  }
}
@media (max-width: 576px) {
  .work__title {
    font-size: 34px;
    max-width: 342px;
    margin: 0 auto;
  }
}
.work__content {
  display: flex;
  gap: 4.5rem;
  margin-top: 7.9rem;
}
@media (max-width: 1280px) {
  .work__content {
    display: none;
  }
}
.work__content span {
  font-size: 8rem;
  font-weight: 700;
  font-style: italic;
  color: var(--palette-2);
}
.work__content p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--palette-2);
}
.work__slider {
  display: none !important;
}
@media (max-width: 576px) {
  .work__slider {
    display: block !important;
    margin-top: 40px;
    overflow: visible !important;
    max-width: 260px;
  }
  .work__slider .swiper-wrapper {
    padding-bottom: 30px;
  }
  .work__slider .swiper-pagination {
    bottom: 10px !important;
  }
}
.work__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 9.8rem;
  margin-top: 8.9rem;
}
@media (max-width: 1280px) {
  .work__list {
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .work__list {
    display: none;
  }
}
.work__item {
  position: relative;
}
@media (max-width: 1280px) {
  .work__item {
    max-width: 400px;
  }
  .work__item:nth-of-type(1) {
    justify-self: self-end;
  }
  .work__item:nth-of-type(3) {
    justify-self: self-end;
  }
}
@media (max-width: 992px) {
  .work__item {
    max-width: 266px;
  }
}
@media (max-width: 576px) {
  .work__item {
    max-width: 100%;
  }
}
.work__item img {
  width: 100%;
}
.work__item h3 {
  position: absolute;
  left: 50%;
  bottom: 3.6rem;
  transform: translateX(-50%);
  font-size: 3.4rem;
  font-weight: 700;
  color: var(--palette-2);
}
.work__item p {
  color: var(--palette-2);
  font-size: 1.8rem;
  font-weight: 500;
  position: absolute;
  left: 50%;
  bottom: 1.6rem;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
}

.feedback {
  margin-top: 7rem;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .feedback {
    padding-bottom: 50px;
    margin-top: 60px;
  }
}
.feedback__title {
  font-size: 5.6rem;
  font-weight: 700;
  color: var(--palette-2);
  text-align: center;
}
@media (max-width: 576px) {
  .feedback__title {
    font-size: 34px;
  }
}
@media (max-width: 1280px) {
  .feedback__wrap {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    padding: 0 50px;
  }
}
@media (max-width: 576px) {
  .feedback__wrap {
    max-width: 290px;
    padding: 0;
  }
}
.feedback .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.feedback .swiper-wrapper {
  padding: 6rem 0;
  height: 100%;
}
@media (max-width: 1280px) {
  .feedback .swiper-wrapper {
    padding: 50px 0;
  }
}
.feedback .swiper-pagination {
  display: none;
}
@media (max-width: 1280px) {
  .feedback .swiper-pagination {
    display: block;
    bottom: 15px !important;
  }
}
.feedback .swiper-slide {
  padding: 3.8rem 6rem 3.8rem 7rem;
  border-radius: 3.5rem;
  box-shadow: 0 0 1.43rem 0.6rem rgba(0, 0, 0, 0.15);
  width: 70rem;
  display: flex;
  flex-direction: column;
  min-height: 35rem;
}
@media (max-width: 1280px) {
  .feedback .swiper-slide {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .feedback .swiper-slide {
    padding: 40px 20px 40px;
  }
}
.feedback .swiper-slide h3 {
  font-size: 2rem;
  color: var(--palette-2);
  font-weight: 700;
}
@media (max-width: 576px) {
  .feedback .swiper-slide h3 {
    font-size: 14px;
  }
}
.feedback .swiper-slide span {
  font-size: 2rem;
  font-weight: 300;
  color: var(--palette-2);
}
@media (max-width: 576px) {
  .feedback .swiper-slide span {
    font-size: 14px;
  }
}
.feedback .swiper-slide p {
  margin-top: 0.6rem;
  font-weight: 500;
  font-size: 2rem;
  color: var(--palette-2);
}
@media (max-width: 576px) {
  .feedback .swiper-slide p {
    font-size: 14px;
  }
}

.faq {
  max-width: 100rem;
  margin: 0 auto;
  padding: 6.9rem 1.5rem 8.7rem 1.5rem;
}
@media (max-width: 1280px) {
  .faq {
    position: relative;
    z-index: 2;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: var(--palette-5);
    padding: 2rem 1.5rem 8.7rem 1.5rem;
  }
}
.faq__title {
  font-size: 6rem;
  font-weight: 700;
  color: var(--palette-2);
  text-align: center;
  margin-bottom: 5.7rem;
}
@media (max-width: 576px) {
  .faq__title {
    font-size: 34px;
    margin-bottom: 30px;
  }
}
.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq__item {
  background: var(--palette-1);
  border-radius: 4rem;
  overflow: hidden;
  transition: all 0.35s ease;
  display: grid;
  grid-template-rows: max-content 0fr;
}
.faq__item.active {
  grid-template-rows: max-content 1fr;
}
.faq__item.active .faq__icon {
  transform: rotate(90deg);
}
.faq__question {
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 2.3rem 2.3rem 2.2rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--palette-2);
  text-align: left;
}
@media (max-width: 768px) {
  .faq__question {
    font-size: 16px;
    padding: 22px 30px;
  }
}
.faq__icon {
  width: 3.6rem;
  height: 3.6rem;
  min-width: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--palette-2);
  border-radius: 50%;
  transition: 0.3s ease;
}
.faq__icon svg {
  width: 3rem;
  height: 3rem;
}
.faq__icon svg path {
  stroke: var(--palette-1);
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.faq__answer {
  overflow: hidden;
  transition: all 0.35s ease;
}
.faq__answer p {
  font-size: 2rem;
  line-height: 1.8;
  color: var(--palette-2);
  padding: 0 3.5rem 2.5rem 3.5rem;
}
@media (max-width: 768px) {
  .faq__answer p {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .footer {
    margin-top: -50px;
    position: relative;
    z-index: 1;
  }
  .footer.container {
    padding: 0;
  }
}
@media (max-width: 1280px) {
  .footer__large {
    display: none;
  }
}
.footer__wrap {
  background: var(--palette-2);
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 19.6rem 5rem;
}
@media (max-width: 1280px) {
  .footer__wrap {
    padding: 88px 30px 5rem;
    border-radius: 0;
  }
}
@media (max-width: 1280px) {
  .footer__logo {
    width: 342px;
  }
}
@media (max-width: 678px) {
  .footer__logo {
    width: 160px;
  }
}
.footer__logo img {
  width: 100%;
}
.footer__content {
  max-width: 111rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  gap: 20px;
}
@media (max-width: 450px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .footer__left, .footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__subtitle {
  font-size: 36px;
  font-weight: 700;
  color: var(--palette-5);
}
.footer__link {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-size: 1.8rem;
  color: var(--palette-3);
  line-height: 1.7;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__link img {
  width: 2rem;
}